.primary {
  color: rgb(224, 189, 10);
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.header {
  display: flex;
  margin: 1px;
}
.searchDisplay {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  margin-bottom: 10px;
}
input {
  border-radius: 4px;
}
