.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  border: white;
  z-index: 1;
  padding: 30px;
  background-color: white;
  opacity: 0.7;
  width: 30%;
  border-radius: 10px;
}
.infoDisplay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: initial;
}
