.box {
  position: absolute;
  height: 40%;
  width: 700px;
  left: 25%;

  top: 20%;
  border: white;
  z-index: 1;
  padding: 30px;
  background-color: white;
  opacity: 0.7;

  border-radius: 10px;
}
